@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.fade-spawn {
  animation: fade-spawn 150ms normal;
}

@keyframes fade-spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grow-spawn {
  animation: grow-spawn 150ms normal;
}

@keyframes grow-spawn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
